.pagination {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.separator {
  width: 1rem;
  margin: 0 0.25rem;
}

.pagination__item {
  background: transparent;
  border: none;
  height: 2rem;
  width: 2rem;
  margin: 0 0.25rem;
  border-radius: 50%;
  font-weight: 600;
  color: rgb(19, 131, 236);
  cursor: pointer;
}

.pagination__item:hover {
  text-decoration: underline;
}

.pagination__item:focus {
  outline: none;
}

.active {
  background-color: rgb(19, 131, 236);
  color: white;
}

.sides {
  box-shadow: transparent 0 0 0 1px, transparent 0 0 0 4px,
    rgba(0, 0, 0, 0.2) 0 2px 4px;
}

.sides:hover {
  text-decoration: none;
  box-shadow: transparent 0 0 0 1px, transparent 0 0 0 4px,
    rgba(0, 0, 0, 0.1) 0 6px 16px;
}
