.list-of-cards {
  width: 100%;
  padding: 37px 16px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 550px));
  grid-gap: 15px 40px;
  justify-content: center;
}

@media screen and (min-width: 600px) {
  .list-of-cards {
    grid-gap: 30px 40px;
  }
}
